@use "../../utils/vars";

:host {
  width: 100%;
  height: 100%;
  position: relative;
}

.table__td {
  text-align: start;
  padding: 1em;
  height: 100%;
  display: block;
  color: vars.$cell-color-primary;
  background-color: vars.$background-primary;
  position: relative;
  z-index: 10;
  transition: transform 0.3s;
  transform: translateY(var(--lift));
  // border-bottom: 1px solid vars.$table-border;

  &--search-highlight {
    background-color: vars.$table-search-highlight;
  }

  &--select-highlight {
    background-color: vars.$table-selected-highlight;
  }

  &--cross-highlight {
    background: linear-gradient(
      to bottom left,
      vars.$table-selected-highlight 50%,
      vars.$table-search-highlight 50%
    );
    // background: linear-gradient(
    //   90deg,
    //   vars.$table-search-highlight,
    //   vars.$table-selected-highlight,
    // ) !important;
  }
}
