$table-border: rgb(73, 73, 73);
$cell-color-primary: #fff;
$cell-color-secondary: rgb(197, 197, 197);
$background-primary: rgb(43, 42, 48);
$table-selected-highlight: rgb(225, 182, 9);
$table-search-highlight: rgb(119, 0, 255);
