<form [formGroup]="searchForm" class="form">
  <input
    type="text"
    class="search-field"
    #searchField
    formControlName="searchField"
  />
</form>
<table class="table">
  <thead class="table__thead">
    <tr>
      <th
        class="table__th"
        (mouseenter)="onMouseenter([fNameCells])"
        (mouseleave)="onMouseleave([fNameCells])"
      >
        ID
      </th>
      <th
        class="table__th"
        (mouseenter)="onMouseenter([idCells, lNameCells])"
        (mouseleave)="onMouseleave([idCells, lNameCells])"
      >
        First Name
      </th>
      <th
        class="table__th"
        (mouseenter)="onMouseenter([fNameCells, ageCells])"
        (mouseleave)="onMouseleave([fNameCells, ageCells])"
      >
        Last Name
      </th>
      <th
        class="table__th"
        (mouseenter)="onMouseenter([lNameCells])"
        (mouseleave)="onMouseleave([lNameCells])"
      >
        Age
      </th>
    </tr>
  </thead>
  <tbody class="table__tbody">
    <tr class="tbody__empty-row" *ngIf="data.length === 0; else dataRows">
      No data
    </tr>

    <ng-template #dataRows>
      <tr class="tbody__entry-row" *ngFor="let entry of data; index as i" #row>
        <app-table-cell
          #idCell
          [isMatch]="isMatch(entry.id)"
          [rowIndex]="i"
          [totalRows]="data.length"
          >{{ entry.id }}</app-table-cell
        >
        <app-table-cell
          #firstNameCell
          [isMatch]="isMatch(entry.firstName)"
          [rowIndex]="i"
          [totalRows]="data.length"
          >{{
            entry.firstName | TruncateString : stringMaxLength
          }}</app-table-cell
        >
        <app-table-cell
          #lastNameCell
          [isMatch]="isMatch(entry.lastName)"
          [rowIndex]="i"
          [totalRows]="data.length"
          >{{
            entry.lastName | TruncateString : stringMaxLength
          }}</app-table-cell
        >
        <app-table-cell
          #ageCell
          [isMatch]="isMatch(entry.age)"
          [rowIndex]="i"
          [totalRows]="data.length"
          >{{ entry.age }}</app-table-cell
        >
      </tr>
    </ng-template>
  </tbody>
</table>

<div class="spinner-container" *ngIf="isDataLoading">
  <mat-spinner></mat-spinner>
</div>
